@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
 
}

body {
  height: 100vh;
}

.slick-prev:before, .slick-next:before
{
  font-size: 40px !important;
}
.bdr{
  border:2px solid red;
}