<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title></title>

  <style>
    .body {
      font-family: "Segoe UI";
      padding: 50px;
    }

    img {
      width: 50px;
    }

    button {
      background-color: rgb(87, 91, 199);
      border: 1px solid rgb(87, 91,
          199);
      color: white;
      padding: 10px;
      border-radius: 5px;
      font-weight: bold;
      margin-bottom: 15px;
      margin-top: 5px;
    }

    span {
      margin-top: 15px;
      color:
        grey;
    }

    a:hover {
      cursor: pointer;
    }

    button:hover {
      cursor: pointer;
    }

    p {
      color: grey;
    }
  </style>
</head>

<body class='body'>
  <div class=''>

    <p>Dear {{name}},</p>

    <p>Thank you for submitting your request on {{date}}.
      After thorough consideration, we regret to inform you that we are unable
      to accommodate your request at this time due to {{reason}}.
      We understand the importance of your needs and apologize for any
      inconvenience caused. </p>
    <p>If you wish to discuss this matter further or
      require assistance in exploring other options, please feel free to
      contact me. I appreciate your understanding and value your partnership.
      Thank you for your continued cooperation.</p>

    <p>Best regards,<br /> Norah AlFayez<br /> Chief Resident<br /></p>
  </div>
</body>

</html>